#files in bin and build
resources/graspit
resources/intellact
resources/pacman
build/*
bin/*
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Swap Files
*~
